.buttonGreen {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  height: 40px;
  border: none;
  padding: 0px 20px;
  background-color: #3aa856;
  color: white;
  font-weight: 500;
  cursor: pointer;
  border-radius: 3px;
  transition-duration: 0.3s;
}

.buttonGreen svg {
  width: 22px;
  right: 0;
  position: relative;
  fill: white;
  transition-duration: 0.3s;
  stroke-width: 2.5px;
}

.buttonGreen:hover {
  color: transparent;
}

.buttonGreen:hover svg {
  right: 38%;
  margin: 0;
  padding: 0;
  border: none;
  color: white;
  transition-duration: 0.3s;
}

.buttonGreen:active {
  transform: translate(3px, 3px);
  transition-duration: 0.3s;
  box-shadow: 2px 2px 0px #3aa856;
}
