.searchContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(0, 0, 0, 0.2);
  border-radius: 0.1rem;
  width: 20rem;
  background-color: white;
  margin-top: 1rem;
}
.searchContainer input {
  width: 100%;
  padding: 0.8rem;
  border: none;
  outline: none;
}
.searchIcon {
  margin-left: 0.5rem;
  font-size: 1.2rem;
  color: rgb(101, 101, 101);
}
.raiseIssue {
  padding: 0.7rem 1rem;
  border: 0;
  border-radius: 100px;
  background-color: var(--blue);
  color: #ffffff;
  font-weight: Bold;
  transition: all 0.5s;
  -webkit-transition: all 0.5s;
  cursor: pointer;
}
.raiseIssue:hover {
  background-color: var(--light-blue);
  box-shadow: 0 0 8px var(--light-blue);
  transform: scale(1.1);
}

.raiseIssue:active {
  background-color: var(--blue);
  transition: all 0.25s;
  -webkit-transition: all 0.25s;
  box-shadow: none;
  transform: scale(0.98);
}
.requestContainer {
  margin-top: 2rem;
  background-color: #fff;
  border: 1px solid rgb(0, 0, 0, 0.2);
}
.tabs,
.listContainer {
  display: flex;
  align-items: center;
  list-style: none;
}

.tabs li {
  margin-left: 5rem;
  font-weight: normal;
  cursor: pointer;
  color: rgb(0, 0, 0, 0.8);
  width: 10rem;
  text-align: center;
  padding: 1rem 0;
}
.tabs li.active {
  border-bottom: 4px solid #0790ad;
  font-weight: 700;
}
.options {
  background-color: white;
  max-height: 22rem;
  border-top: 1px solid rgb(0, 0, 0, 0.2);
}
.listContainer {
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
}
.listContainer:last-child{
  border: 0;
}
.listContainer li {
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  padding: 0.8rem 0;
  text-align: center;
  flex: 1;
}

.dataList li {
  color: rgb(0, 0, 0, 0.7);
}
.dataList li button {
  background-color: crimson;
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: 0.1rem;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  letter-spacing: 0.05rem;
}
.formHeading {
  border-bottom: 1px solid rgb(0, 0, 0, 0.2);
  padding-bottom: 1rem;
}

.issueForm {
  margin-top: 1.5rem;
  padding: 0 1rem;
}
.inputContainer {
  margin-bottom: 2rem;
}
.inputContainerinput,
.inputContainerselect {
  padding: 0.5rem;
  border: 1px solid rgb(0, 0, 0, 0.5);
  outline: none;
  width: 90%;
  font-size: 1rem;
  border-radius: 0.1rem;
  box-sizing: border-box;
}
.inputContainer p {
  margin-bottom: 0.5rem;
}
.inputContainer select {
  cursor: pointer;
  /* color: gray; */
}

.descInput {
  padding-bottom: 3rem !important;
  font-size: 0.9rem !important;
}

.modalBtn {
  display: flex;
  align-items: center;
  justify-content: end;
  margin-top: 2rem;
  padding-top: 0.5rem;
}
.modalBtn button {
  padding: 0.4rem 1.5rem;
  background-color: #fff;
  border-radius: 0.2rem;
  cursor: pointer;
  letter-spacing: 0.05rem;
  margin-right: 1rem;
}
.modalBtn button:nth-child(1) {
  border: 1px solid rgb(0, 0, 0, 0.5);
}
.modalBtn button:nth-child(1):hover {
  background-color: rgb(246, 246, 246);
}

.modalBtn button:nth-child(2).enabled {
  background-color: #0790ad;
  border: 1px solid #0790ad;
  color: white;
}

.modalBtn button:nth-child(2).disabled {
  background-color: transparent;
  border: 1px solid gray;
  cursor: unset;
}
.noReq {
  padding: 0.9rem 0;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 1rem !important;
}
.errMsg,
.successMsg {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.8rem 0;
  gap: 0.5rem;
}
.errMsg {
  background-color: rgb(196, 0, 0);
}
.successMsg {
  background-color: rgb(0, 194, 0);
}
.errIcon,
.successIcon {
  color: aliceblue;
}
.errMsg p,
.successMsg p {
  color: aliceblue;
}
.reopenHeader {
  display: flex;
  width: 100%;
  justify-content: end;
}
.closeIcon {
  font-size: 1.5rem;
  cursor: pointer;
}
.reopenConfirm {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.reopenConfirm p {
  margin: 1rem 0;
  font-weight: bold;
  letter-spacing: 0.03rem;
}
.reopenConfirm button {
  background-color: #0790ad;
  padding: 0.5rem 1rem;
  color: #fff;
  border-radius: 0.1rem;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
